/* Gaya untuk sidebar yang muncul */
.active-sidebar {
    left: 0;
}

/* Gaya untuk tombol hamburger */
.hamburger {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    z-index: 1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Gaya header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    background: #2d2d2d;
    color: #fff;
    box-shadow: 0px 5px 10px rgba(90, 116, 148, 0.3);
    border-radius: 5px;
}

.header i {
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}

/* Gaya untuk sidebar */
.side-bar {
    width: 250px;
    min-height: 100vh;
    background: #2d2d2d;
    transition: left 0.5s;
    left: -250px;
    position: fixed;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.side-bar.active-sidebar {
    left: 0;
}

.user-p {
    text-align: center;
    padding: 20px 0;
}

.user-p img {
    width: 100px;
    border-radius: 50%;
}

.user-p h4 {
    color: #ccc;
}

.side-bar ul {
    list-style: none;
    padding: 0;
}

.side-bar ul li {
    margin: 0;
    padding: 0;
}

.side-bar ul li a {
    color: #eee;
    text-decoration: none;
    display: block;
    padding: 15px 20px;
}

.side-bar ul li a:hover {
    background-color: #0085ff;
}

.total-box {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    margin: 10px;
}

.total-box h2 {
    font-size: 24px;
    color: #333;
}

.income-box {
    background: #36A2EB;
    color: #fff;
}

.expenses-box {
    background: #4CAF50;
    color: #fff;
}

.savings-box {
    background: #FFA500;
    color: #fff;
}

.data-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.data-box span {
    margin-right: 10px;
}

/* Gaya untuk select */
.data-box select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background: #f0f0f0;
    color: #333;
}

/* Gaya untuk opsi dalam select */
.data-box select option {
    font-size: 16px;
}

.chart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.chart {
    width: 48%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    margin: 10px;
}
