/* Reset CSS dan pengaturan font default */
body {
    font-family: Arial, sans-serif;
    background-color: #1E1E1E;
    margin: 0;
    padding: 0;
}

/* Gaya untuk judul h1 */
h1 {
    text-align: center;
    background-color: #2d2d2d;
    color: #fff;
    padding: 20px;
    margin: 0;
}

/* Gaya untuk tabel */
table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

/* Gaya untuk sel tabel */
table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

/* Gaya untuk sel header tabel */
th {
    background-color: #006fff;
    color: #e1ffff;
}

/* Gaya untuk input dan select */
select, input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Gaya untuk tombol aksi */
.action-btn {
    text-align: center;
    margin: 20px 0;
}

/* Gaya untuk modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Gaya untuk konten modal */
.modal-content {
    background-color: #1E1E1E;
    padding: 20px;
    width: 60%;
    margin: 10% auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Gaya untuk judul modal */
.modal-content h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

/* Gaya untuk input dan select di dalam modal */
.modal-content input, .modal-content select {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Gaya untuk tombol di dalam modal */
.modal-content button {
    background-color: #454545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Gaya untuk tombol pertama di dalam modal */
.modal-content button:first-child {
    background-color: black;
    margin-right: 10px;
}

/* Gaya untuk tombol aksi di luar modal */
.action-btn button {
    background-color: #0085ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Gaya hover untuk tombol aksi di luar modal */
.action-btn button:hover {
    background-color: #69b4ff;
}