.hamburger {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    z-index: 1;
}

/* Gaya untuk sidebar */
.side-bar {
    width: 250px;
    min-height: 100vh;
    background: #2d2d2d;
    transition: left 0.5s;
    left: -250px;
    position: fixed;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.side-bar.active-sidebar {
    left: 0;
}

.user-p {
    text-align: center;
    padding: 20px 0;
}

.user-p img {
    width: 100px;
    border-radius: 50%;
}

.user-p h4 {
    color: #ccc;
}

.side-bar ul {
    list-style: none;
    padding: 0;
}

.side-bar ul li {
    margin: 0;
    padding: 0;
}

.side-bar ul li a {
    color: #eee;
    text-decoration: none;
    display: block;
    padding: 15px 20px;
}

.side-bar ul li a:hover {
    background-color: #0085ff;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1E1E1E;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    background-color: #2d2d2d;
    color: #fff;
    padding: 20px;
    margin: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #006fff;
    color: #e1ffff;
}

select, input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.action-btn {
    text-align: center;
    margin: 20px 0;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #1E1E1E;
    padding: 20px;
    width: 60%;
    margin: 10% auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.modal-content input, .modal-content select {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-content button {
    background-color: #454545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content button:first-child {
    background-color: black;
    margin-right: 10px;
}

.action-btn button {
    background-color: #0085ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.action-btn button:hover {
    background-color: #69b4ff;
}

